*{
    font-family: 'Roboto', sans-serif;
}
body{
    background-color: #e6e2d9;
}
.head-fonts{
    font-size: 7vw;
    font-family: 'Roboto', sans-serif;
    color: white;
}
.head-fonts-2{
    font-size: 7vw;
    font-family: 'Roboto', sans-serif;
    color: white;
    text-align: right;
}

.backdrop{
    background-color: rgba(169, 169, 169, 0.418);
    padding: 2vw 1vw;
}

.backdrop-2{
    background-color: #2d2e2e;
    padding: 2vw 1vw;
}
.backdrop-3{
    background-color: #FFD3B4;
    padding: 2vw 1vw;
}
.btn-place{
    position: absolute;
    top: 50%;
    left: 45%;
}
.break{
    background-color: #AAA492;
}
.card{
    border: none;
    border-radius: 0;
    font-family: 'Roboto', sans-serif;
    background-color: rgb(70, 70, 70);
}

.card:hover{
    background-color: #31b0e2;
    transition: .5s;
}
.card-title h1 {
    font-size: 2em;
    
}
.card-footer{
    background-color: black;
}
.services{
    font-size: 2vw;
    font-family: 'Roboto', sans-serif;
    color: white;
    text-align: center;
}
.navbar{
    background-color: rgb(34, 34, 34);
}
.top-box{
    position: relative;
}
.big-text{
    position: absolute;
    font-size: 7vw;
    color: whitesmoke;
}

.logo{
    font-family: 'Roboto', sans-serif;
}

.photo{
    border: white 10px solid;
}

h4{
    font-family: 'Roboto', sans-serif;
}