*{
    font-family: 'Roboto', sans-serif;
}
body{
    background-color: #e6e2d9;
}
.head-fonts{
    font-size: 7vw;
    font-family: 'Roboto', sans-serif;
    color: white;
}
.consult{
    font-size: 2.5vw;
}
.modal-body{
    background-color: #2d2e2e;
}
.modal-body h1{
    color: #FFD3B4;
}
.form-group label{
    color: #FFD3B4;
}
.form-row label{
    color: #FFD3B4;
}
.modal-header{
    background-color: #2d2e2e;
    border: none;
    color: #FFD3B4;
}
.head-fonts-2{
    font-size: 7vw;
    font-family: 'Roboto', sans-serif;
    color: white;
    text-align: right;
}

.backdrop{
    background-color: rgba(169, 169, 169, 0.418);
    padding: 2vw 1vh;
}
.backdrop p {
    font-size: 1.25em;
}

.backdrop-2{
    background-color: #2d2e2e;
    padding: 8%;
}
.backdrop-3{
    background-color: #FFD3B4;
    padding: 2vw 1vw;
}
.btn-place{
    position: absolute;
    top: 50%;
    left: 45%;
}
.break{
    background-color: #AAA492;
}
.break-2{
    background-color: #e6e2d9;
}
.break-3{
    background-color: #2d2e2e;
    color: #AAA492;
}
.card{
    border: none;
    border-radius: 0;
    font-family: 'Roboto', sans-serif;
    background-color: rgb(70, 70, 70);
}
.card-light {
    background-color: #AAA492;
    font-size: 2em;
}
.card-light h1 {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
.card-light p {
    font-size: 60%;
}

.card-hov:hover{
    background-color: #31b0e2;
    transition: .5s;
}
.card-title h1 {
    font-size: 2em;
    
}
.card-hov .card-footer{
    background-color: black;
    color: white;
}
.card-footer{
    background-color: none;
    border: none;
}
.services{
    font-size: 2vw;
    font-family: 'Roboto', sans-serif;
    color: white;
    text-align: center;
}
.top-break{
    background-color: #AAA492;
}
.navbar{
    background-color: rgb(34, 34, 34);
}
.top-box{
    position: relative;
}
.big-text{
    position: absolute;
    font-size: 7vw;
    color: whitesmoke;
}

.logo{
    font-family: 'Roboto', sans-serif;
}

.photo{
    border: white 10px solid;
}

h4{
    font-family: 'Roboto', sans-serif;
}

body[data-aos-duration='5000'] [data-aos],
[data-aos][data-aos][data-aos-duration='5000'] {
  transition-duration: 5000ms;
}

.quote{
    font-size: 5vw;
    font-family: 'Courier New', Courier, monospace;
}